<!DOCTYPE html>
<html>

<head>

    <title>Contacts</title>

</head>

<body>

    <h1>My Contacts</h1>

    <hr>

    <h2>Add Contact</h2>

    <form method="POST">

        <label>Name</label>
        <br>

        <input
            type="text"
            name="name"
            required>

        <br><br>

        <label>Email</label>
        <br>

        <input
            type="email"
            name="email"
            required>

        <br><br>

        <button type="submit">Add Contact</button>

    </form>

    <hr>

<h2>Import Contacts from CSV</h2>

<form
    action="{{ url_for('import_csv') }}"
    method="POST"
    enctype="multipart/form-data">

    <input
        type="file"
        name="csv_file"
        accept=".csv"
        required>

    <br><br>

    <button type="submit">
        Import CSV
    </button>

</form>

    <hr>

    <h2>Saved Contacts</h2>

    <table border="1" cellpadding="10">

        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        {% for contact in contacts %}

        <tr>

            <td>{{ contact.name }}</td>

            <td>{{ contact.email }}</td>

            <td>

    <a href="{{ url_for('edit_contact', contact_id=contact.id) }}">
        Edit
    </a>

    |

    <a href="{{ url_for('delete_contact', contact_id=contact.id) }}">
        Delete
    </a>

</td>

        </tr>

        {% else %}

        <tr>

            <td colspan="3">
                No contacts found.
            </td>

        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="{{ url_for('dashboard') }}">Dashboard</a>

</body>

</html>