<!DOCTYPE html>
<html>

<head>
    <title>Create Account</title>
</head>

<body>

    <h1>Create Your Account</h1>

    <form method="POST">

        <label>Full Name</label>
        <br>
        <input type="text" name="name" placeholder="Enter your name">
        <br><br>

        <label>Email</label>
        <br>
        <input type="email" name="email" placeholder="Enter your email">
        <br><br>

        <label>Password</label>
        <br>
        <input type="password" name="password" placeholder="Enter your password">
        <br><br>

        <button type="submit">Create Account</button>

    </form>

    <br>

    <a href="/">Back Home</a>

</body>

</html>